#beautyea {
	background-color: aqua;
}
#wrapper {
	width:auto;
	height:875px;;
}


a #frbfi {
	position: absolute;
	width:150px;
	left: 550px;
	top: 75px;
}

a #frwritings {
	position: absolute;
	width:150px;
	left: 350px;
	top: 250px;
	}

a #frinvbfi {
	position: absolute;
	width:150px;
	left:750px;
	top:250px;
}

a #frdesrv {
	position: absolute;
	width:150px;
	left: 350px;
	top: 500px;
}


a #frtofu {
	position: absolute;
	width:150px;
	left: 750px;
	top:500px;
}

a #frbeau {
	position: absolute;
	width:150px;
	left: 550px;
	top: 625px;
}

#lines {
	
	position: absolute;
	left: 510px;
	top: 250px;
	
}



